a{
  cursor: pointer;
}
.MuiCard-root {
  cursor: pointer;
}

body {
  color: inherit; /* Remet la couleur du texte à sa valeur par défaut */
  background-color: inherit; /* Remet la couleur d'arrière-plan à sa valeur par défaut */
  /* Ajoutez toutes les autres propriétés que vous souhaitez surcharger */

}
.navbar__logo {
  will-change: transform;
  transform-origin: center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.navbar__brand:hover .navbar__logo {
  animation: shake 0.4s ease;
}


