a{
  cursor: pointer;
}
.MuiCard-root {
  cursor: pointer;
}

body {
  color: inherit; /* Remet la couleur du texte à sa valeur par défaut */
  background-color: inherit; /* Remet la couleur d'arrière-plan à sa valeur par défaut */
  /* Ajoutez toutes les autres propriétés que vous souhaitez surcharger */

}
.navbar__logo {
  will-change: transform;
  transform-origin: center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.navbar__brand:hover .navbar__logo {
  animation: shake 0.4s ease;
}

.cls-1,.cls-2{fill:#003dff;}.cls-2{fill-rule:evenodd;}

/* CSS pour le bouton toggle personnalisé */
.toggleButtonCustom {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 10px !important; /* Augmenter le padding pour élargir la zone cliquable */
  font-size: 14px;
  font-weight: bold; /* Mettre le texte en gras */
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.toggleButtonCustom:hover {
  background: var(--ifm-color-emphasis-200);
  color: var(--ifm-navbar-link-hover-color);
}

.toggleButtonCustom span {
  margin-right: 5px;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.colorModeToggleCustom {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.toggleButton_x9TT {
  padding: 5px !important; /* Augmenter le padding pour élargir la zone cliquable */
}

.carousel .control-arrow {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.carousel:hover .control-arrow {
  opacity: 1;
}
/* CSS pour supprimer l'espace après les titres h4 dans un tableau */
td h4 {
  margin: 0;
}
td p:last-child,
td ul:last-child {
  margin-bottom: 0;
}
td p:has(+ ul) {
  margin-bottom: 0;
}

td ul {
  list-style-type: none; /* Supprime les puces par défaut */
  padding-left: 0; /* Supprime le padding par défaut de la liste */
}

td ul li::before {
  content: "- "; /* Ajoute un tiret avant chaque élément de la liste */
  margin-right: 8px; /* Ajoute un espace après le tiret pour la lisibilité */
}

td ul li {
  margin-top: 0px !important; /* Ajoute un espace après le tiret pour la lisibilité */
}
td {
  font-size: 90%; /* Réduit la taille du texte de 20% */
}