/* BackgroundWrapper.css */
.background-wrapper {
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  height: 90vh; /* Pour couvrir toute la hauteur de la fenêtre */
}
