.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.cardContainer_Uewx {
  display: block;
  width: calc(33.333% - 16px);
  
  border: 1px solid #eaeaea;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background: #e0e7ff84 !important;
}
.cardContainer_Uewx h2{
  background: transparent !important;
}
.cardContainer_Uewx:hover {

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardTitle_dwRT {
  font-size: 1.25rem;
  margin: 0;
  color: #000;
}

.cardDescription_mCBT {
  color: #555;
  margin-top: 0.5rem;
}

/* Styles pour le mode sombre */
[data-theme="dark"] .cardContainer_Uewx {
  background: #47484b !important;
  border: 1px solid #555;
}

[data-theme="dark"] .cardTitle_dwRT {
  color: #fff;
}

[data-theme="dark"] .cardDescription_mCBT {
  color: #ccc;
}

.cardTitle_dwRT::before {
  content: "📄️"; /* Emoji de feuille */
  margin-right: 5px; /* Espace entre l'emoji et le numéro */
}
.cardContainer_Uewx {
  display: block;
  overflow: hidden;
  max-height: 11em; /* Three lines with line-height of 1.5em */
  line-height: 1.5em; /* Line height to calculate the max-height for three lines */
}

.cardTitle_dwRT {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

