.tooth-loader {
  font-size: 48px; /* Ajustez la taille selon vos besoins */
}

.tooth-emoji {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
