/* HeroBanner.css */
.hero-banner {
  background-image: url('/public/bannière.jpg'); /* Remplacez par le chemin de votre image */
  background-size: cover;
  background-position: center;
  color: #000000;
  text-align: center;
  padding: 70px 20px;
}

.hero-banner h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-banner p {
  font-size: 1.5em;
  max-width: 800px;
  margin: 0 auto;
}
