
.ant-menu-item a {
    text-decoration: none;
}

.text-center p {
    text-align: center; /* Centre le texte */
}

.text-center img {
    max-height: 150px; /* Ajuster selon les besoins */
    width: auto;
}

.circle-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 margin: 5px auto;
    font-size: 2em; /* Taille de l'icône */
    background-color: #ddd;
}

.circle-icon {
    cursor: pointer;
}

.circle-icon img {
    width: 100px; /* ou toute autre taille appropriée */
    height: auto;
}

.circle-icon:hover {
    background-color: #ccc;
}

.circle-icon img:hover {
    animation: shake 0.4s ease;
}
.logo-shake:hover {
  animation: shake 0.4s ease;
}

@keyframes shake {
    0%, 100% { transform: rotate(0); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
}

