@keyframes shake {
    0%, 100% { transform: rotate(0); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
}
@keyframes zoomIn {
    0% { transform: scale(1); }
    100% { transform: scale(1.05); }
}

/* Conteneur principal */
.item-menu-container {
    background: rgba(246, 246, 249, 0.65);
    padding: 15px 60px;
    min-width: 100%;
    min-height: 90vh;
    
}

.quadrillage-matiere{
    justify-content: center;
padding-left: 90px;
padding-right: 90px;
}

.quadrillage-sous-matiere{
padding-left: 30px;
}

[data-theme="dark"] .item-menu-container {
    background: rgb(27, 27, 29);
}
.item-menu-matiere {
    border: 1px solid transparent;
    margin: 10px;
    width: 160px;
    height: 170px;
}

.item-menu-matiere:hover {
    cursor: pointer;
}

.item-menu-matiere:hover .image-menu-matiere {
    animation: shake 0.4s ease;
}

.image-menu-matiere img {
    height: 120px;
    overflow: hidden;
    transition: opacity 0.3s ease;
}

/* Styles de base pour le conteneur de texte */
.text-menu-matiere {
    display: inline-flex; /* Utiliser flex pour centrer verticalement */
    align-items: center; /* Centrer verticalement */
    padding: 0 1.5em; /* Ajuster l'espace entre les crochets et le texte */
    font-size: 1rem; /* Ajustez la taille de la police si nécessaire */
    font-family: "Raleway", Arial, sans-serif;
}

/* Styles de base pour le texte */
.text-menu-matiere p {
    margin: 0; /* Réinitialiser les marges pour éviter les décalages */
    z-index: 1; /* Assurer que le texte est au-dessus des crochets */
    transition: color 0.3s ease; /* Transition douce pour la couleur du texte */
    white-space: nowrap; /* Empêcher le retour à la ligne du texte */
}

/* Pseudo-éléments pour ajouter les crochets */
.text-menu-matiere::before,
.text-menu-matiere::after {
    content: ''; /* Nécessaire pour les pseudo-éléments */
    font-size: 1.2rem; /* Taille des crochets, ajustez si nécessaire */
    color: transparent; /* Rendre les crochets invisibles par défaut */
    transition: color 0.3s ease, opacity 0.3s ease, transform 0.3s ease; /* Transition douce pour la couleur, la visibilité et la translation des crochets */
    opacity: 0; /* Rendre les crochets invisibles par défaut */
    visibility: hidden; /* Masquer les crochets par défaut */
    transform: translateX(0); /* Translation initiale pour le mouvement */
}

/* Ajouter les crochets avant et après le texte */
.text-menu-matiere::before {
    content: '['; /* Crochet gauche */
    margin-right: 0.5em; /* Espacement entre le crochet gauche et le texte */
    transform: translateX(0); /* Pas de translation initiale */
}

.text-menu-matiere::after {
    content: ']'; /* Crochet droit */
    margin-left: 0.4em; /* Espacement entre le texte et le crochet droit */
    transform: translateX(0); /* Pas de translation initiale */
}

/* Styles au survol de .item-menu-matiere */
.item-menu-matiere:hover .text-menu-matiere::before {
    color: var(--ifm-color-primary); /* Couleur du crochet gauche au survol */
    opacity: 1; /* Rendre le crochet gauche visible */
    visibility: visible; /* Assurer que le crochet gauche est visible */
    transform: translateX(5px); /* Déplacer le crochet gauche vers la droite */
}

.item-menu-matiere:hover .text-menu-matiere::after {
    color: var(--ifm-color-primary); /* Couleur du crochet droit au survol */
    opacity: 1; /* Rendre le crochet droit visible */
    visibility: visible; /* Assurer que le crochet droit est visible */
    transform: translateX(-5px); /* Déplacer le crochet droit vers la gauche */
}

.item-menu-matiere:hover .text-menu-matiere p {
    color: var(--ifm-color-primary); /* Couleur du texte au survol */
}

[data-theme="dark"] .item-menu-matiere:hover .text-menu-matiere::before {
    color: rgb(37, 193, 159); /* Couleur du crochet gauche au survol */
}

[data-theme="dark"] .item-menu-matiere:hover .text-menu-matiere::after {
    color: rgb(37, 193, 159); /* Couleur du crochet droit au survol */
}

[data-theme="dark"] .item-menu-matiere:hover .text-menu-matiere p {
    color: rgb(37, 193, 159); /* Couleur du texte au survol */
}
.item-menu-sous-matiere {
    transition: 200ms ease-in-out;
    overflow: hidden;
    position: relative; /* Assurez-vous que l'image et le texte soient bien positionnés */
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 
        -1px -1px 2px rgba(0, 0, 0, 0.1),
        1px 1px 2px rgba(0, 0, 0, 0.1);
    width: 160px;
    height: 160px;
    
}

.image-menu-sous-matiere {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.image-menu-sous-matiere img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.text-menu-sous-matiere {
    position: absolute; /* Positionnement absolu pour être superposé à l'image */
    min-height: 60px;
    width: 100%; /* Occupe toute la largeur du conteneur parent */
    display: flex; /* Déclaration de flexbox */
    justify-content: center; /* Centre horizontalement le texte */
    align-items: center; /* Centre verticalement le texte */
    color: white;
    background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent pour toute la zone */
    backdrop-filter: blur(1.5px); /* Effet de flou */
    bottom: 0; /* Positionne le conteneur en bas de la page */
 line-height: 1.1;
 transition: 0.3s ease-in-out;
}

.text-menu-sous-matiere p {
    margin: 0; /* Réinitialisation des marges du paragraphe */
    text-align: center; /* Centre le texte à l'intérieur du paragraphe */
}

.item-menu-sous-matiere:hover .text-menu-sous-matiere {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}


[data-theme="dark"] .item-menu-sous-matiere {
    background: rgb(47, 47, 50);
    border: 1px solid rgba(255, 255, 255, 0);

}

.item-menu-sous-matiere:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.item-menu-sous-matiere:hover .image-menu-sous-matiere{
opacity: 1;
transition: 200ms ease-in-out;
}

[data-theme="dark"] .item-menu-sous-matiere:hover {
    background: rgb(64, 64, 69);
}


.item-menu-sous-matiere:hover .image-menu-sous-matiere img {
    transform: scale(1.1);
}