.main-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.section-card {
  background-color: #ffffff;
  border-radius: 10px;
  width: 240px; /* Ajustez si nécessaire */
  margin: 15px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] .section-card {
  background-color: rgb(54, 55, 57);
  border: 1px solid transparent;
}

.section-card h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  background: transparent;
}

[data-theme="dark"] .section-card h2 {
  background: transparent;
}

.section-card h2::before {
  content: none !important; /* Cache le compteur uniquement pour ce h2 */
}

.section-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  opacity: 0; /* Invisible par défaut */
  transition: opacity 0.5s ease-out; /* Transition pour l'opacité */
}

.section-icon.loaded {
  opacity: 1; /* L'image devient visible après le chargement */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section-description {
  position: absolute;
  top: 0; /* Positionnez en haut pour couvrir toute la carte */
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px; /* Ajustez si nécessaire */
  background-color: #ffffff;;
  color: #555;
  font-size: 1em;
  opacity: 0; /* Rendre invisible par défaut */
  transition: opacity 0.2s ease;
  display: flex; /* Centrer le texte */
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  border-radius: 10px;
}

[data-theme="dark"] .section-description {
  background-color: rgb(54, 55, 57);
  color: white;
}

.section-card:hover .section-description {
  opacity: 1; /* Affiche la description au survol */
  
}
.section-card:hover {
 
  border: 1px solid var(--ifm-color-primary);
}

/* Media query pour les petits écrans */
@media (max-height: 800px) {
  .hero-banner {
    padding: 30px 20px;
  }

  .hero-banner h1 {
    font-size: 1.8em;
  }

  .hero-banner p {
    font-size: 1em;
  }

  .section-card {
    width: 180px;
    margin: 8px;
    padding: 12px;
  }

  .section-card h2 {
    font-size: 1em;
  }

  .section-icon {
    width: 35px;
    height: 35px;
    margin-bottom: 8px;
  }
}
