.qcm-propositions ul {
  list-style-type: none;
  padding: 0;
  margin: 0 !important;
}

.qcm-propositions li {
  margin: 0.5rem 0;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.qcm .correct {
  color: #28a745;
}

.qcm .incorrect {
  color: #dc3545;
}

.qcm .missed {
  color: #ffc107;
}

.qcm label {
  cursor: pointer;
  display: block;
  padding: 0.5rem 0.8rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  background-color: #ffffff; /* Fond de base des propositions en clair */
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .qcm label {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.qcm label:hover {
  background-color: #e6e6e7; /* Couleur de fond au survol en clair pour distinguer les propositions */
  border-radius: 5px;
}

[data-theme="dark"] .qcm label:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
}

.qcm input[type="checkbox"] {
  cursor: pointer;
  margin-right: 0.5rem;
}

.qcm button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.qcm button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.qcm + .qcm {
  margin-top: 2rem;
}

.qcm-section {
  margin-top: 30px !important;
  background-color: #e6eefc; /* Fond légèrement plus foncé pour mieux démarquer les propositions */
  margin: -15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .qcm-section {
  background-color: hsla(0, 0%, 100%, 0.05);
}

.check-all-button {
  padding: 0.6rem 1.2rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.check-all-button:hover {
  background-color: #218838;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.qcm .normal-correction {
  color: inherit;
}

.qcm-propositions {
  
  padding: 0.5rem;
  border-radius: 8px;
  margin-bottom: 20px;
  
}


.qcm-section + .qcm-section {
  margin-top: 3rem;
}

.qcm-section h3 {
  margin-top: 10px;
  color: #333;
}

[data-theme="dark"] .qcm-section h3 {
  color: #f1f1f1;
}

.bold {
  font-weight: bold;
}

